# Ignorer tous les fichiers par défaut
*

# Sauf le fichier .gitignore lui-même
!.gitignore

# Ne PAS ignorer les dossiers (nécessaire pour pouvoir annuler l'ignorance de certains fichiers dans des dossiers)
!*/

# Ignorer la base de données 
/NFBA 2025 Public Data Package.xls

# Ignorer la base de données 2024
/donnees_propres_2024.xls

# Ignorer les fichiers OpenDocument texte
*.odt
